.write_formContents {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.write_formContents label {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.write_formContents input {
    width: 30%;
    padding: .5rem;
    border-radius: 10px;
    border: none;
}

.write_formContents select {
    width: 32%;
    padding: .5rem;
    border: none;
    border-radius: 10px;
}

.write_formContents:nth-of-type(3) input {
    width: 100%;
}

.write_formContents textarea {
    border: none;
    border-radius: 10px;
    resize: none;
    width: 100%;
    padding: .5rem;
    font: inherit;
}

#formContents_file {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.uploadFile_name {
    background-color: white;
}

#formContents_file label {
    margin-bottom: 0;
    background-color: var(--color-box-6);
    padding: .4rem;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#formContents_file:hover label,
#formContents_file:active label {
    background-color: #f58529;
}

.write_formContents input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.upload_timeBox {
    display: none;
}

.write_formBtnBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.write_formBtnBox button {
    background-color: var(--color-box-4);
    border: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.write_formBtnBox button:hover,
.write_formBtnBox button:active {
    background-color: var(--color-box-5);
}

#write_submitBtn:disabled {
    background-color: #adadad;
    cursor: default;
}