.board_write_container {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.write_titleBox h1 {
    text-align: center;
    color: var(--color-font-1);
}

.write_userForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .board_write_container {
        width: 90%;
    }

    .write_userForm {
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .board_write_container {
        width: 90%;
    }

    .write_userForm {
        width: 80%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1365px) {
    .board_write_container {
        width: 90%;
    }

    .write_userForm {
        width: 80%;
    }
}