.passwordChange_successMsg {
    color: var(--color-font-3);
    font-size: 1.5rem;
}

.menuBox_password_change {
    width: 100%;
    padding: .5rem;
    background-color: white;
    border-radius: 10px;
}

.menuBox_password_change h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.password_title_description {
    margin-top: 0;
    text-align: center;
    color: var(--color-font-2);
}

.password_box {
    margin-top: 30px;
}

.myPage_password_form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password_form_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
}


.password_form_item label {
    width: 140px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

.password_form_item input {
    width: 40%;
    border: none;
    border-radius: 10px;
    background-color: var(--color-box-3);
    padding: .5rem;
}

.password_box_errorMsg {
    color: var(--color-font-4);
    margin-top: 0;
}

.password_form_btnBox {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.password_form_btnBox button {
    background-color: var(--color-box-4);
    border: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.password_form_btnBox button:hover,
.password_form_btnBox button:active {
    background-color: var(--color-box-5);
}

