.login_container {
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

.login_wrapper {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 5px 30px var(--color-box-2);
    display: flex;
    flex-direction: column;
}

.login_title {
    text-align: center;
    margin-top: 10px;
}

.login_title h2 {
    font-size: 1.7rem;
    color: var(--color-font-1);
    margin-bottom: 0;
    letter-spacing: .3rem;
}

.third_loginBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.loginBox_item {
    width: 68%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: .5rem;
    border-radius: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.loginBox_item:nth-child(2) {
    background-color: #FEE500;
}

.loginBox_item:nth-child(3) {
    background-color: #03c75a;
}

.loginBox_item button {
    background: none;
    border: none;
    cursor: pointer;
}

.loginBox_item p {
    margin: 0;
    margin-top: 5px;
}

.loginBox_item:nth-child(2) img {
    width: 100%;
    overflow: hidden;
}

.loginBox_item:nth-child(3) img {
    width: 50%;
}

.loginBox_item:nth-child(3) p {
    color: white;
    margin-top: 5px;
}

.Oauth_loginBox {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-top: 2px solid #dfdede;
}

.Oauth_loginBox h2 {
    text-align: center;
    color: var(--color-font-1);
    font-size: 1.7rem;
    letter-spacing: .1rem;
}

.login_form,
.emailFind_form,
.passwordFind_form,
.passwordFind_Find_form {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginForm_contentsBox,
.loginForm_contentsBox_passwordFind {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.loginForm_contentsBox:nth-of-type(2) {
    margin-bottom: 20px;
}

.passwordFind_form .loginForm_contentsBox:nth-of-type(2) {
    margin-bottom: 40px;
}

.loginForm_contentsBox label {
    width: 120px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

.loginForm_contentsBox input,
.loginForm_contentsBox_passwordFind input {
    border: none;
    background-color: var(--color-box-3);
    border-radius: 10px;
    width: 50%;
    padding: .5rem;
}

.loginForm_findInfoBox {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.findInfo_center {
    width: 2px;
    height: 18px;
    background-color: var(--color-box-1);
}

.loginForm_findInfoBox button {
    background: none;
    border: none;
    font: inherit;
    padding: 0;
    cursor: pointer;
    color: inherit;
}

.login_errorMsg {
    color: var(--color-font-4);
    text-align: center;
    margin-top: 0;
}

.loginForm_btn {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.loginForm_btn button,
.emailFind_findBox button {
    background-color: var(--color-box-4);
    border: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.loginForm_btn button:hover,
.loginForm_btn button:active,
.emailFind_findBox button:hover,
.emailFind_findBox button:active {
    background-color: var(--color-box-5);
}

#login_submitBtn:disabled,
#emailFind_submitBtn:disabled,
#passwordFind_submitBtn:disabled,
#passwordFind_findBox_submitBtn:disabled {
    background-color: #adadad;
    cursor: default;
}

.emailFind_box h3,
.passwordFind_box h3 {
    text-align: center;
    margin: 0;
    color: var(--color-font-3);
}

.emailFind_findMsg {
    text-align: center;
    color: var(--color-font-3);
}

.emailFind_findBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.passwordFind_findBox {
    margin-top: 20px;
}

.passwordFind_findBox label {
    width: 140px;
}

@media screen and (max-width: 767px) {
    .login_container {
        width: 100vw;
    }

    .third_loginBox {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .loginForm_contentsBox_passwordFind {
        flex-direction: column;
    }

    .passwordFind_findBox label {
        width: 100%;
    }

    .loginForm_contentsBox_passwordFind input {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .login_container {
        width: 90%;
        height: 60vh;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1365px) {
    .login_container {
        width: 90%;
    }
}