.detail_container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.detail_titleBox {
    border-bottom: 3px solid var(--color-box-2);
    margin-bottom: 50px;
}

.title_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_inner_left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.detail_contentsBox {
    height: 600px;
    overflow: auto;
    border-bottom: 3px solid var(--color-box-2);
}

.detail_btnBox {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnBox_left button {
    background-color: var(--color-box-6);
    border: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.btnBox_right a {
    background-color: var(--color-box-6);
    border: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    padding: .5rem 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.btnBox_right button {
    background-color: var(--color-box-6);
    border: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.btnBox_right button:hover,
.btnBox_right button:active,
.btnBox_right a:hover,
.btnBox_right a:active,
.btnBox_left button:hover,
.btnBox_left button:active {
    background-color: var(--color-box-9);
}

@media screen and (max-width: 767px) {
    .detail_container {
        width: 90%;
    }

    .title_inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .title_inner_left {
        flex-wrap: wrap;
        gap: 20px;
    }

    .detail_btnBox {
        flex-direction: column;
        gap: 20px;
    }

    .btnBox_right {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .detail_container {
        width: 90%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1365px) {
    .detail_container {
        width: 90%;
    }
}