.pageBtn_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.pageBtn_box button {
    background: none;
    border: none;
    font: inherit;
    font-size: 1.1rem;
    cursor: pointer;
}

.pageBtn_CenterLine {
    width: 2px;
    height: 18px;
    background-color: var(--color-box-1);
}