.success_container {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 200px;
}

.success_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success_wrapper h1 {
    margin-bottom: 10px;
    color: var(--color-font-5);
}

.success_wrapper h3 {
    margin-top: 10px;
    color: var(--color-font-3);
}

.success_wrapper button {
    background-color: var(--color-box-4);
    border: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.success_wrapper button:hover,
.success_wrapper button:active {
    background-color: var(--color-box-5);
}

@media screen and (max-width: 767px) {
    .success_wrapper h1 {
        font-size: 1.7rem;
    }

    .success_wrapper h3 {
        padding: 0 1rem;
        text-align: center;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1365px) {
    .success_container {
        height: 30vh;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1517px) {
    .success_container {
        height: 30vh;
    }
}