.footer_container {
    width: 100%;
    margin-top: 100px;
    background-color: #222;
}

.footer_contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    padding-bottom: 20px;
}

.footer_contents_left {
    color: white;
}

.footer_contents_left h1 {
    font-family: Dongle;
}

.footer_contents_right {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer_contents_right h2 {
    margin-bottom: 0;
}

.footer_contents_right p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: .9rem;
}

.contents_right_link {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contents_right_link a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .footer_contents {
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .footer_contents_right {
        align-items: center;
        justify-content: center;
    }

    .footer_contents_right p:nth-of-type(2) {
        padding: 0 4rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer_contents {
        margin: 0 60px;
    }
}