@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Dongle:wght@400;700&family=Noto+Sans+KR:wght@300;400;700&family=Roboto:wght@400;500;700;900&display=swap');

html {
  --color-font-1: #0b090a;
  --color-font-2: #8e9aaf;
  --color-font-3: #212529;
  --color-font-4: #ef233c;
  --color-box-1: #353535;
  --color-box-2: #ffdc5e;
  --color-box-3: #ffc971;
  --color-box-4: #c9184a;
  --color-box-5: #d80032;
  --color-box-6: #f4a261;
  --color-box-7: #adb5bd;
  --color-box-8: #dee2e6;
  --color-box-9: #d90429;
  --color-bg-1: #f5f3f4;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', Roboto, Dongle, Arial, Helvetica, sans-serif, system-ui, -apple-system;
  background-color: var(--color-bg-1);
}