.header_container {
    width: 100%;
    height: 100%;
}

.header_first_nav {
    padding: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ba181b;
}

.nav_left {
    margin-left: 200px;
}

.nav_left a {
    text-decoration: none;
    font-family: Dongle;
    font-size: 2rem;
    color: var(--color-font-1);
    font-weight: bold;
}

.nav_right {
    margin-right: 200px;
    display: flex;
    align-items: center;
}

.nav_right a {
    text-decoration: none;
    color: var(--color-font-1);
    font-weight: bold;
    margin-left: 50px;
}

.logout_btn,
.logIn_btn {
    background: none;
    border: none;
    font: inherit;
    font-weight: bold;
    margin-left: 50px;
    cursor: pointer;
    color: inherit;
    padding: 0;
}

.header_second_nav {
    padding: 20px 0;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second_nav_left {
    border: 1px solid var(--color-box-1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: .2rem .5rem;
    margin-left: 200px;
    background-color: white;
}

.second_nav_left img {
    width: 30px;
}

.second_nav_left input {
    border: none;
    border-radius: 10px;
    width: 85%;
    padding: .5rem;
    margin-left: 10px;
    background: none;
}

.second_nav_left button {
    display: none;
}

.second_nav_center a {
    margin: 0 30px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    color: var(--color-font-1);
}

.second_nav_right {
    margin-right: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.second_nav_right a {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font: inherit;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-font-1);
}

.second_nav_right img {
    width: 30px;
}

@media screen and (max-width: 767px) {
    .header_first_nav {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .nav_left {
        margin-left: 0;
    }

    .nav_right {
        margin-right: 0;
    }

    .nav_right p {
        font-size: .9rem;
        margin-right: 10px;
    }

    .nav_right a {
        margin-left: 20px;
    }

    .logout_btn,
    .logIn_btn {
        margin-left: 0;
    }

    .header_second_nav {
        flex-direction: column;
        justify-content: center;
    }

    .second_nav_left {
        margin-left: 0;
    }

    .second_nav_center {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 20px;
    }

    .second_nav_center a {
        font-size: .9rem;
        text-align: center;
        margin-top: 20px;
    }

    .second_nav_right {
        margin-top: 10px;
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header_first_nav {
        justify-content: space-between;
    }

    .nav_left {
        margin-left: 100px;
    }

    .nav_right {
        margin-right: 100px;
    }

    .nav_right p {
        margin-right: 20px;
    }

    .nav_right a {
        margin-left: 20px;
    }

    .logout_btn,
    .logIn_btn {
        margin-left: 0;
    }

    .header_second_nav {
        justify-content: space-evenly;
    }

    .second_nav_left {
        margin-left: 0;
        width: 20%;
    }

    .second_nav_center {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 20px;
    }

    .second_nav_center a {
        font-size: 1rem;
        text-align: center;
        margin-top: 20px;
    }

    .second_nav_right {
        margin-top: 10px;
        margin-right: 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1365px) {
    .header_first_nav {
        justify-content: space-between;
    }

    .nav_left {
        margin-left: 100px;
    }

    .nav_right {
        margin-right: 100px;
    }

    .nav_right p {
        margin-right: 20px;
    }

    .nav_right a {
        margin-left: 20px;
    }

    .logout_btn,
    .logIn_btn {
        margin-left: 0;
    }

    .header_second_nav {
        justify-content: space-evenly;
    }

    .second_nav_left {
        margin-left: 0;
        width: 20%;
    }

    .second_nav_center {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 20px;
    }

    .second_nav_center a {
        font-size: 1rem;
        text-align: center;
        margin-top: 20px;
    }

    .second_nav_right {
        margin-top: 10px;
        margin-right: 0;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1517px) {
    .second_nav_left {
        margin-left: 120px;
    }

    .second_nav_right {
        margin-right: 120px;
    }
}