.home_container {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.home_wrapper {
    width: 100%;
    position: relative;
}

.home_titleImg {
    background-image: url('/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_wrapper h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
}

.home_popularPost_box {
    border-bottom: 2px solid var(--color-box-8);
    margin-bottom: 50px;
}

.popularPost_title {
    margin-top: 50px;
    margin-bottom: 30px;
}

.popularPost_title h2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: .3rem;
}

.popularPost_itemBox {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 10px;
}

.popularPost_item {
    width: 90%;
    margin: auto;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: .5rem;
    text-decoration: none;
    color: white;
}

.france {
    background-image: url('/main_france.jpg');
}

.usa {
    background-image: url('/main_usa.jpg');
}

.italy {
    background-image: url('/main_italy.jpg');
}

.chile {
    background-image: url('/main_chile.jpg');
}

.australia {
    background-image: url('/main_australia.jpg');
}

.germany {
    background-image: url('/main_germany.jpg');
}

.popularPost_item_inner {
    width: 100%;
    overflow: hidden;
    height: 230px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.popularPost_item h3 {
    margin-bottom: 0;
    font-size: 1.3rem;
}

.popularPost_item p {
    margin-top: 10px;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.popularPost_item p:first-of-type {
    margin-top: 0;
}

.popularPost_item p:nth-of-type(2) {
    margin-bottom: 0;
}

.popularPost_item p:nth-of-type(3) {
    margin-top: 0;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .home_titleImg {
        height: 300px;
    }

    .home_wrapper h1 {
        font-size: 1.7rem;
    }

    .popularPost_itemBox {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .home_titleImg {
        height: 400px;
    }

    .popularPost_itemBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1365px) {
    .popularPost_itemBox {
        grid-template-columns: repeat(3, 1fr);
    }
}